@model IEnumerable<WebApplication22.Models.product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.pname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pprice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pdesc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pprice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pdesc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.pid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.pid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.pid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
